home-page
  c-container(rotateY="15deg" rotateZ="-9deg" rotateX="23deg")
    c-box#b1(
      img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-893bc9989a52eba0.png"
      btn-color="#00bf9c"
      btn-text="Sensebot"
    )
    c-box#b2(
      img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-964edcf0f07211b0.png"
      btn-color="#653EE6"
      btn-text="OnePass"
    )
    c-box#b3(
      img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-2ebb2b6f93add843.png"
      btn-color="#008BFF"
      btn-text="DeepKnow"
    )
    c-box#b4(
      img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-f79c4cc8de2f84ae.png"
      btn-color="#FF6500"
      btn-text="Scanner"
    )
  script.
    import cContainer from '../components/c-container.pug'
    import cBox from '../components/c-box.pug'

    export default {
      components: { cContainer, cBox }
    }
